/* MEDIA QUERIES */
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.social__list, .modal__list, .nav__list, .auth__list, .about__list, .clients__list, .address__list, .menu-button__list, .team__list, .work__list {
  list-style: none;
}

.logo__header, .clients__link, .footer__link,
.footer__link--info, .header__link {
  text-decoration: none;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-color-text: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --accent-text-color: #2196f3;
  --accent-bg-color: #188ce8;
  --border-color: #ececec;
  --border-color-second: #eeeeee;
  --color-black: #000000;
  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --card-item: 1;
  --card-gap-top: 30px;
  --card-gap-left: 30px;
}

.card__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(var(--card-gap-left) * -1);
  margin-top: calc(var(--card-gap-top) * -1);
}

.card__item {
  margin-top: var(--card-gap-top);
  margin-left: var(--card-gap-left);
  -ms-flex-preferred-size: calc(100% / var(--card-item) - var(--card-gap-left));
      flex-basis: calc(100% / var(--card-item) - var(--card-gap-left));
  --card-item: 1;
}

.visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 767.98px) {
  .catalog__container,
  .clients__container {
    max-width: 480px;
  }
}

@media (min-width: 1200px) {
  .team__container {
    max-width: 1200px;
  }
}

@media (max-width: 767.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
}

@media (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.section__team {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  background-color: var(--third-bg-color);
  text-align: center;
}

@media (max-width: 767.98px) {
  .section__team {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767.98px) {
  .about__section {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .about__section {
    padding-bottom: 0;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  background-color: var(--icon-bg-color);
  -webkit-transition: fill var(--transition), background-color var(--transition);
  transition: fill var(--transition), background-color var(--transition);
}

.social__link:focus, .social__link:hover {
  background-color: var(--accent-text-color);
  fill: var(--third-color-text);
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__icon--white {
  fill: var(--third-color-text);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  cursor: pointer;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--accent-text-color);
  color: var(--third-color-text);
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.button:hover, .button:focus {
  background-color: var(--accent-bg-color);
}

.button__exit {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button__exit:hover .icon__exit {
  fill: var(--accent-text-color);
}

.button__exit:focus .icon__exit {
  fill: var(--accent-text-color);
}

.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.logo__footer {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

@media (max-width: 767.98px) {
  .logo__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo__header {
  color: inherit;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

@media (max-width: 767.98px) {
  .logo__header {
    padding: 16px 0px;
  }
}

@media (min-width: 768px) {
  .logo__header {
    margin-right: 84px;
  }
}

@media (min-width: 1200px) {
  .logo__header {
    margin-right: 93px;
  }
}

.logo__black {
  color: var(--color-black);
}

.logo__white {
  color: var(--third-color-text);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  width: 100%;
  min-height: 581px;
  background-color: var(--primary-bg-color);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.icon__exit {
  height: 11px;
  width: 11px;
  fill: var(--secondary-text-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.modal__list {
  margin-bottom: 20px;
}

.modal__item {
  position: relative;
}

.modal__item:not(:last-child) {
  margin-bottom: 28px;
}

.modal__input[placeholder] {
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition), color var(--transition);
  transition: border-color var(--transition), color var(--transition);
}

.modal__input:hover, .modal__input:focus {
  fill: var(--accent-text-color);
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--accent-text-color);
}

.modal__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.modal__textarea:focus, .modal__textarea:hover {
  fill: var(--accent-text-color);
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.modal__name {
  position: absolute;
  top: -17px;
  left: 0;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 18px;
  width: 18px;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.confirmation__link {
  margin-left: 2px;
  color: var(--accent-text-color);
}

.confirmation__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
  line-height: 1.71px;
  color: var(--primary-text-color);
}

@media (max-width: 767.98px) {
  .confirmation__label {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .confirmation__label {
    font-size: 12px;
  }
}

.confirmation__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-color: var(--secondary-text-color);
  border-radius: 4px;
  margin-right: 9px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.confirmation__checkbox:checked ~ .checkbox__icon {
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.modal__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 449px) {
  .modal__span > a {
    margin-top: 10px;
  }
}

.modal__span > span {
  padding-left: 2px;
}

@media (max-width: 337px) {
  .modal__span > span {
    margin-top: 10px;
  }
}

@media (max-width: 767.98px) {
  .nav__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav {
  color: var(--secondary-text-color);
}

@media (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.auth__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .auth__list {
    margin-bottom: 32px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .auth__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}

@media (min-width: 1200px) {
  .auth__list {
    margin-left: 285px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  .auth__item:not(:first-child) {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
  }
}

@media (max-width: 767.98px) {
  .auth__item:not(:last-child) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 1200px) {
  .auth__item:not(:last-child) {
    margin-right: 50px;
  }
}

.icon__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  .icon__mail {
    display: none;
  }
}

.icon__phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  .icon__phone {
    display: none;
  }
}

@media (min-width: 768px) {
  .current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: var(--accent-text-color);
  }
  .current::after {
    position: absolute;
    content: '';
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-bg-color);
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .about__item {
    --card-item: 2;
  }
}

@media (min-width: 1200px) {
  .about__item {
    --card-item: 4;
  }
}

.about__item::before {
  content: '';
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.about__item:nth-child(4n + 1)::before {
  background-image: url(../images/about/about1.svg);
}

.about__item:nth-child(4n + 2)::before {
  background-image: url(../images/about/about2.svg);
}

.about__item:nth-child(4n + 3)::before {
  background-image: url(../images/about/about3.svg);
}

.about__item:nth-child(4n + 4)::before {
  background-image: url(../images/about/about4.svg);
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

@media (max-width: 767.98px) {
  .about__title {
    text-align: center;
  }
}

.clients__item {
  --card-item: 2;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item {
    --card-item: 3;
  }
}

@media (min-width: 1200px) {
  .clients__item {
    --card-item: 6;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: border-color var(--transition), fill var(--transition);
  transition: border-color var(--transition), fill var(--transition);
}

.clients__link:focus, .clients__link:hover {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer > .social__icon {
  fill: var(--third-color-text);
}

@media (max-width: 767.98px) {
  .footer__container {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 500px;
    max-width: 480px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767.98px) {
  .footer__item:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__item {
    text-align: center;
    margin-left: auto;
  }
  .footer__item:last-child {
    margin-right: auto;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 60px;
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .footer__item:last-child {
    margin-left: auto;
  }
}

.address {
  font-style: inherit;
}

@media (max-width: 767.98px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

@media (max-width: 767.98px) {
  .address__list {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link--info[target='_blank'] {
  color: var(--third-color-text);
}

.footer__link--info {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.footer__link--info:hover, .footer__link--info:focus {
  color: var(--accent-text-color);
}

.social__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--third-color-text);
}

@media (max-width: 767.98px) {
  .social__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* submit */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe {
    display: block;
    text-align: center;
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.submit__input {
  padding-left: 16px;
  margin-right: 12px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
}

@media (max-width: 767.98px) {
  .submit__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .submit__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .submit__input {
    width: 358px;
  }
}

.submit__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--primary-bg-color);
}

@media (max-width: 767.98px) {
  .header {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .header {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--transition), color var(--transition);
  transition: fill var(--transition), color var(--transition);
}

@media (max-width: 767.98px) {
  .header__link {
    font-size: 40px;
    line-height: 1.17;
  }
}

@media (min-width: 768px) {
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__link:focus, .header__link:hover {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

@media (max-width: 767.98px) {
  .header__link--phone {
    font-size: 34px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__link--phone {
    padding: 0px;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media (min-width: 1200px) {
  .header__link--phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .header__link--mail {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__link--mail {
    padding: 0px;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media (min-width: 1200px) {
  .header__link--mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
  }
}

.current {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  fill: var(--accent-text-color);
}

.menu-button__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 10;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.menu-button.is-open .menu-button__icon {
  position: fixed;
  top: 10px;
  right: 15px;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
}

.menu-button.is-open .menu-button__icon--open {
  display: none;
}

.menu-button__icon--close {
  display: none;
}

.menu-button.is-open .menu-button__icon--close {
  display: block;
  opacity: 1;
}

@media (max-width: 767.98px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--primary-bg-color);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform var(--transition);
    transition: -webkit-transform var(--transition);
    transition: transform var(--transition);
    transition: transform var(--transition), -webkit-transform var(--transition);
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .menu-container__item--auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .menu-container__item--auth > .auth__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  .menu-button__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
  }
}

@media (min-width: 768px) {
  .menu-button__list {
    display: none;
  }
}

.menu-button__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

@media (max-width: 767.98px) {
  .menu-button__item {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.menu-button__item:not(:first-child)::before {
  content: '';
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--secondary-bg-color);
}

@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (max-width: 767.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-mobile.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile.jpg);
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-moz-min-devile-pixel-ratio: 2), screen and (max-width: 767.98px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (max-width: 767.98px) and (-webkit-min-devile-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-mobile2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile2x.jpg);
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tablet2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-desktop2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop2x.jpg);
  }
}

.hero__title {
  font-size: 26px;
  line-height: 1.62;
  max-width: 360px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  color: var(--third-color-text);
}

@media (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.team__position {
  margin-bottom: 16px;
}

.team__position,
.team__title {
  font-size: 16px;
  line-height: 1.18;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.team__item {
  background: var(--primary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    --card-item: 2;
  }
}

@media (min-width: 1200px) {
  .team__item {
    --card-item: 4;
  }
}

.team__wrapper {
  padding: 30px;
}

@media (max-width: 767.98px) {
  .section__work {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .section__work {
    display: none;
  }
}

@media (min-width: 1200px) {
  .section__work {
    display: block;
  }
}

.work__item {
  position: relative;
  --card-item: 3;
}

.work__variant {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--third-color-text);
}
/*# sourceMappingURL=main.css.map */