.about__list {
  @extend %list;
}
.about__icons {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--third-bg-color);
}
.about__icon {
  width: 70px;
  height: 70px;
}
.about__item {
  @include mq(tablet-only) {
    --card-item: 2;
  }
  @include mq(desktop) {
    --card-item: 4;
  }

  @for $i from 1 through 4 {
    .about__icon:nth-child(#{$i}) {
      background-image: url(../images/about/about#{$i}.svg);
    }
  }
}
.about__title {
  @include mq(mobile-only) {
    text-align: center;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: var(--secondary-text-color);
}
