.about__list {
  @extend %list;
}
.about__item {
  @include mq(tablet-only) {
    --card-item: 2;
  }
  @include mq(desktop) {
    --card-item: 4;
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--third-bg-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
  }
  @for $i from 1 through 4 {
    &:nth-child(4n + #{$i}) {
      &::before {
        background-image: url(../images/about/about#{$i}.svg);
      }
    }
  }
}
.about__title {
  @include mq(mobile-only) {
    text-align: center;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: var(--secondary-text-color);
}
