.clients__list {
  justify-content: center;
  @extend %list;
}
.clients__item {
  --card-item: 6;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %link;
  color: inherit;

  width: 100%;
  height: 92px;

  border: 1px solid var(--icon-color);

  border-radius: 4px;
  fill: var(--icon-color);

  transition: border-color var(--transition), fill var(--transition);
  &:focus,
  &:hover {
    fill: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
}
