.hero {
  margin-left: auto;
  margin-right: auto;
  @include mq(mobile-only) {
    
    max-width: 480px;
  }
  @include mq(tablet-only) {
    
    max-width: 768px;
  }
  @include mq(desktop) {
    max-width: 1600px;
  }
  display: flex;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;

  background-color: var(--secondary-bg-color);
  @include mq(mobile-only) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-mobile.jpg);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-mobile2x.jpg);
    }
  }
  @include mq(tablet-only) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-tablet.jpg);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-tablet2x.jpg);
    }
  }
  @include mq(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-desktop.jpg);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-desktop2x.jpg);
    }
  }
}
.hero__title {
  @include mq(mobile-only) {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
  @include mq(tablet-only) {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 360px;
    color: #ffffff;
  }
  text-align: center;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;

  color: var(--third-color-text);
}
