.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity var(--transition);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}