.logo__footer {
  @include mq(mobile-only) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  display: block;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.logo__header {
  color: inherit;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  @extend %link;
  @include mq(mobile-only){
    padding: 16px 0px;
  }
  @include mq(tablet){
    margin-right: 84px;
  }
  @include mq(desktop){
    margin-right: 93px;
  }
}
.logo__black {
  color: var(--color-black);
}
.logo__white {
  color: var(--third-color-text);
}




