.logo__footer {
  display: block;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.logo__header {
  margin-right: 93px;
  color: inherit;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  @extend %link;
}
.logo__black {
  color: var(--color-black);
}
.logo__white {
  color: var(--third-color-text);
}




