.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-bg-color);

  transition: transform var(--transition);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.icon__exit {
  height: 11px;
  width: 11px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition);
}
.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.modal__list {
  @extend %list;
  margin-bottom: 20px;
}
.modal__item {
  position: relative;
}
.modal__item:not(:last-child) {
  margin-bottom: 28px;
}

.modal__input[placeholder] {
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition), color var(--transition);
  &:hover, &:focus {
    fill: var(--accent-text-color);
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }

  &:hover + .modal__icon, &:focus + .modal__icon {
    fill: var(--accent-text-color);
  }

}
.modal__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  transition: color var(--transition);
  &:focus, &:hover {
    fill: var(--accent-text-color);
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}

.modal__name {
  position: absolute;
  top: -17px;
  left: 0;

  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  height: 18px;
  width: 18px;
  transition: fill var(--transition);
}

.confirmation__link {
  margin-left: 2px;
  color: var(--accent-text-color);
}
.confirmation__label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;

  line-height: 1.71px;

  color: var(--primary-text-color);
}

.confirmation__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-color: var(--secondary-text-color);
  border-radius: 4px;
  margin-right: 9px;
}
.confirmation__checkbox {
  &:checked ~ .checkbox__icon {
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
    background-color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}
