.work__list {
  @extend %list;
}
.work__item {
  position: relative;
  --card-item: 3;
}
.work__variant {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.work__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--third-color-text);
}