:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-color-text: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --accent-text-color: #2196f3;
  --accent-bg-color: #188ce8;
  --border-color: #ececec;
  --border-color-second: #eeeeee;
  --color-black: #000000;
  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --card-item: 3;
  --card-gap-top: 30px;
  --card-gap-left: 30px;
}
